.button-burger {
  width: 24px;
  height: 24px;
  // TODO: Такой иконки нет - добавь
  //background-image: url("../../icons/stack.svg#burger-menu-open");
  background-position: center;
  background-color: #ffffff;
  border: none;
}
