.button {
  padding: 10px 44px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $accent-color;
  border: none;
  box-sizing: border-box;
}
