.catalog {

}

.catalog-wrapper {

}

.catalog__title {
  color: $basic-black;
  font-family: $secondary-font;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.catalog__list {

}

.catalog__item {

}

