.catalog-header {
  margin: 0 auto;
  padding: 13px 20px;

  @media (min-width: $desktop-width) {
    padding: 55px 110px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    & .main-header--inner {
      margin-bottom: 22px;
    }
  }
}
