.features {

}

.features-wrapper {
  margin: 0 auto;
  margin-bottom: 53px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    & {
      position: relative;
      margin-bottom: 56px;
      padding-right: 30px;
      padding-left: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -48px;
      width: 753px;
      border: 1px solid $border-grey;
      transform: translateX(-30px);
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin-bottom: 69px;
      padding-right: 110px;
      padding-left: 110px;
    }

    &::after {
      display: none;
    }
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    & {
      margin-bottom: 72px;
      font-size: 60px;
      line-height: 60px;
    }
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 77px 137px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    gap: 90px;
  }
}

.features__item {
  position: relative;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  &::before {
    position: absolute;
    top: -2px;
    left: 0;
  }

  &--leaf::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#leaf-icon");
  }

  &--boiling::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#boiling-icon");
  }

  &--eat::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#eat-icon");
  }

  &--clock::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#clock-icon");
  }

  @media (min-width: $tablet-width) {
    & {
      padding: 134px 35px 57px 0;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--leaf {
      background-image: url("../../images/work-image-1.png");
      background-repeat: no-repeat;
      background-position: right 30px top 0;
      background-size: contain;
    }

    &--leaf::before {
      content: "";
      background-image: url("../../icons/stack.svg#leaf-icon");
    }

    &--boiling {
      background-image: url("../../images/work-image-2.png");
      background-repeat: no-repeat;
      background-position: right 30px top 0;
      background-size: contain;
    }

    &--boiling::before {
      content: "";
      background-image: url("../../icons/stack.svg#boiling-icon");
    }

    &--eat {
      background-image: url("../../images/work-image-3.png");
      background-repeat: no-repeat;
      background-position: right 30px top 0;
      background-size: contain;
    }

    &--eat::before {
      content: "";
      background-image: url("../../icons/stack.svg#eat-icon");
    }

    &--clock {
      background-image: url("../../images/work-image-4.png");
      background-repeat: no-repeat;
      background-position: right 30px top 0;
      background-size: contain;
    }

    &--clock::before {
      content: "";
      background-image: url("../../icons/stack.svg#clock-icon");
    }
  }

  @media (min-width: $desktop-width) {
    & {
      padding-right: 0;
    }

    &--leaf {
      background-position: right 57px top 0;
    }

    &--boiling {
      background-position: right 28 top 0;
    }

    &--eat {
      background-position: right 37px top 0;
    }

    &--eat p {
      padding-right: 11px;
    }

    &--clock {
      background-position: right 37px top 0;
    }
  }
}

.features__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    & {
      padding-right: 10px;
    }
  }
}

