.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-areas:
    "image  title  title"
    "image  table  table"
    "button button button";
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    & {
      grid-template-columns: 250px;
      grid-template-areas:
        "image"
        "title"
        "table"
        "button";
      padding: 0 37px 40px;
      background-image: linear-gradient($basic-white 10%, $basic-grey 10% 100%);
    }
  }

  @media (min-width: $desktop-width) {
    & {
      grid-template-columns: 245px;
      grid-template-areas:
        "image"
        "title"
        "table"
        "button";
      padding: 0 0 40px;
      background-image: linear-gradient($basic-white 10%, $basic-grey 10% 100%);
    }
  }
}

.product-card__link-image {
  grid-area: image;
  text-align: center;

  @media (min-width: $tablet-width) {
    .catalog__item:first-child & {
      margin-top: 29px;
      margin-bottom: 41px;
    }

    .catalog__item:nth-child(odd):not(:first-child) & {
      margin-top: 29px;
      margin-bottom: 32px;
    }

    .catalog__item:nth-child(even) & {
      margin-top: 13px;
      margin-bottom: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog__item:nth-child(even) & {
      margin-top: 17px;
      margin-bottom: 19px;
    }

    .catalog__item:nth-child(odd),
    .catalog__item:first-child & {
      margin-top: 29px;
      margin-bottom: 30px;
    }
  }
}

.product-card__image {
}

.product-card__link-title {
  grid-area: title;
  margin-bottom: 14px;
  color: $basic-text-color-2;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.product-card__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 44px;
  }
}

.product-card__table {
  grid-area: table;
  margin-top: auto;
  margin-bottom: 21px;
  color: $basic-text-color;
  font-size: 12px;
  line-height: 12px;

  & td:nth-child(2) {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    & {
      width: 250px;
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 20px;
      border-collapse: collapse;
    }

    & tr {
      height: 30px;
      border-bottom: 1px solid $subscribe-grey;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      width: 169px;
      margin: auto;
      margin-bottom: 42px;
    }
  }
}

.product-card__button {
  grid-area: button;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding: 10px 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin: 0 auto;

    &:hover {
      background-color: $accent-color-2;
    }

    &:active {
      color: rgba(255, 255, 255, 0.2);
      background-color: $accent-color-2;
    }
  }
}

.product-card--more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    width: 30px;
    border: 2px solid $more-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    width: 30px;
    border: 2px solid $more-grey;
    transform: rotate(90deg);
  }

  & .product-card__link-title {
    margin-bottom: 8px;
  }

  & .product-card__title {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  & .product-card__description {
    margin: 0;
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 16px;
  }

  & .product-card__link {
    padding: 10px 95px;
    font-family: $secondary-font;
    font-size: 16px;
    color: $basic-text-color;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    & {
      padding-top: 242px;
      background-image: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 150px;
      width: 60px;
      border: 2px solid $more-grey;
    }

    &::after {
      content: "";
      position: absolute;
      top: 148px;
      width: 60px;
      border: 2px solid $more-grey;
      transform: rotate(90deg);
    }

    & .product-card__link-title {
      margin-bottom: 23px;
    }

    & .product-card__title {
      padding: 0 36px;
      font-size: 20px;
      line-height: 24px;
    }

    & .product-card__description {
      margin: 0;
      margin-bottom: 82px;
      padding: 0 12px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }

    & .product-card__link {
      padding: 10px 80px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      padding: 240px 28px 50px;
    }

    & .product-card__link {
      padding: 10px 39px;
    }

    & .product-card__link:hover {
      background-color: $special-grey-2;
    }

    & .product-card__link:active {
      background-color: $special-grey-2;
    }

    & .product-card__link-title {
      margin-bottom: 26px;
    }

    & .product-card__title {
      padding: 0;
    }

    & .product-card__description {
      margin-bottom: 90px;
    }
  }
}

