.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 320px;
  background-color: $basic-white;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  margin: 23px auto;

  &:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  &:first-child::before {
    content: "";
    // display: block;
    width: 320px;
    margin-bottom: 23px;
    border: 1px solid $border-grey;
  }

  &:first-child::after {
    content: "";
    // display: block;
    width: 320px;
    margin-top: 23px;
    border: 1px solid $border-grey;
  }

  @media (min-width: $tablet-width) {
    .site-list__item {
      display: flex;
    }

    &:not(:last-child) {
      margin-right: 33px;
    }

    // &:first-child::before,
    // &:first-child::after {
    //   display: none;
    // }

    .site-list__item--active a {
      position: relative;
    }

    // Здесь пытался стили применить к тегу a внутри псевдоэлемента, а его там нет по понятным причинам
    .site-list__item--active::after {
      content: "";
      position: absolute;
      width: 64px;
      height: 2px;
      margin-top: 10px;
      border: 2px solid #68b738;
    }
  }

  @media (min-width: $desktop-width) {

  }
}

.site-list__item a {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;
    line-height: 30px;
  }
}
