.subscribe {
  font-family: $secondary-font;
  line-height: 32px;
  color: $basic-black;
}

.subscribe-wrapper {

}

.subscribe__title {
  font-size: 32px;
}

.subscribe__description {
  font-size: 24px;
}

.subscribe__form {

}

.subscribe__form-input {

}

.subscribe__form-button {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $basic-white;
}
